<!DOCTYPE html>
<html>

<head>
  <title>Make an order</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <meta charset='utf-8'>
</head>

<body>
  <h1>Welcome to our bakery!</h1>
  <h3>We have bread and pastries for order.</h3>
  <h4>Only today our special promotions!</h4>
  <h4>Buy 2, get 1 free for each bread category and Buy 3, get 1 free for pastries!</h4>
  <h4>On the orders of $30 and more, you get a $5 discount for each $30 spent!</h4>
  <form action="/Order" method="post">
    <p>The following breads are available for purchase: baguette - $3, white bread - $4, black bread - $5</p>
    <label for="baguette">How many baguettes would you like to purchase?</label>
    <input id="baguette" name="baguette" type="string">
    <label for="white">How many loaves of white bread would you like to purchase?</label>
    <input id="white" name="white" type="string">
    <label for="black">How many loaves of black bread would you like to purchase?</label>
    <input id="black" name="black" type="string">
    <br>
    <br>
    <p>The following pastries are available for purchase: cherry pies - $3, croissants - $2</p>
    <label for="pie">How many cherry pies would you like to purchase?</label>
    <input id="pie" name="pie" type="string">
    <label for="croissants">How many croissants would you like to purchase?</label>
    <input id="croissants" name="croissants" type="string">
    <br>
    <br>
    <button type="submit">Submit my order!</button>
  </form>
</body>

</html>